# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Media files - should not be committed to the repository
*.mp4
*.mov
*.avi

# macOS
.DS_Store

*.gif # Ignore all GIFs...
!assets/*.gif # ...except for demo GIFs in the assets folder.

# Ultralytics and model files
runs/
*.pt

# Log files
logs/